<!DOCTYPE html>
<html xmln:th="http://www.thymeleaf.org"></html>
<html lang="en">
<head>
    <a href="/auth/index">홈</a>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div sec:authorize="!isAuthenticated()"><!--${session.email}세션을 이렇게 model로 안넘겨도 그냥 바로 꺼내쓸수 있다 20210515 편리하다-->
        <a href="/auth/joinpage">회원가입</a>
        <a href="/auth/loginpage">로그인</a>
    </div>

        <div sec:authorize="isAuthenticated()"><!--else문을 모르겠다--><!--이제 세션은 없는건가... 뭔가 알면 편리한데 모르면 한없이 어렵다 학원가서 진짜 집중해서 배워야겠다 20210523-->
            <div sec:authentication="name"></div>
            <a href="/mypage">마이페이지</a>
            <a href="/writearticle">글쓰기</a>
            <a href="/logout">로그아웃</a><!--링크 앞에 항상 /붙여야함-->
        </div>

<table>
    <tr>
        <th>순서</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일자</th>
        <th>조회수</th>
    </tr>
    <tr th:each="list : ${array}">
        <td th:text="${list.getbid}"></td>
        <td ><a th:href="@{content(bid=${list.getbid})}" th:text="${list.gettitle}"></a></td> <!--후아 th 진짜 jspl에비해 쓰레기다 진짜 링크거는것도 찾는라 힘들었네 웃기네20210516-->
        <td th:text="${list.getemail}"></td>
        <td th:text="${list.getcreated}"></td>
        <td th:text="${list.gethit}"></td>
    </tr>
</table>
<div th:each="num: ${#numbers.sequence(1,pages)}">
    <a th:href="@{boardlist(page=${num})}">[[${num}]]</a>
</div>
</body>
</html>