<!DOCTYPE html>
<html xmln:th="http://www.thymeleaf.org"></html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div th:text="${session.email}"></div>

    <div th:with="vo= ${boardvo}" >
            <div th:text="${'제목'+vo.gettitle}"></div>
            <div th:text="${'작성자'+vo.getemail}"></div>
            내용
            <div th:text="${vo.getcontent}"></div>
            <div th:text="${'조회수'+'&nbsp'+vo.gethit}"></div>

            <div th:if="${session.email==vo.getemail}">
                <form action="/updatecontent">
                    <input type="hidden" id="bid" name="bid" th:value="${vo.getbid}">
                    <input type="submit" id="update" value="수정">
                </form>
                <form action="deletecontent">
                    <input type="submit" id="delete" value="삭제">
                </form>
                </div>
                <div id="errorcomment"></div>  
            <br>
            댓글
            <div th:if="${session.email!=null}">
                <input type="text" id="comment" name="comment"><!--본문-->
                <input type="hidden" id="bid" name="bid" th:value="${vo.getbid}">
                <input type="button" id="button" value="완료">
            </div>
    </div>
    <div th:each="comment : ${array}">
            작성자  <div th:text="${comment.getemail}"></div>
            내용    <div th:text="${comment.getcomment}"></div>
            <div th:if="${session.email==comment.getemail}">
                <input type="button"value="수정">
                <input type="button"value="삭제">
            </div>    
                    <div th:if="${session.email!=null}">

                        <a href="#" id="replybutton">답글</a>
                        <div id="reply"></div>
                        <div id="canclereplybutton"></div>
                    </div>
    </div>
        <div th:if="${lastpage>0}">
        <div th:with="vo= ${boardvo}" >
            <div th:each="num: ${#numbers.sequence(1,lastpage)}">
                <a th:href="@{content?(bid=${vo.getbid},page=${num})}">[[${num}]]</a><!--묻혀서 보내는것도 불편하구만 jstl에 비해-->
            </div>
        </div>
</div>
    

<script>
$(function()
{
    $('#replybutton').click(function(){
        $('#reply').html('<input type="text" id="writereply">');
        $('#canclereplybutton').html('<input type="button" id="canclereply" value="취소">');
    })
    $('#canclereply').click(function(){
        $('#reply').remove();
        $('#canclereplybutton').remove();
        $('#writereply').remove();
        $('#canclereply').remove();
    })
    $('#comment').keyup(function(){
        if( $('#comment').val().length>50)
        {
            $('#comment').css('background-color','pink');
        }
        else
        {
            $('#comment').css('background-color','white');
        }
    })
    $('#button').click(function(){
        $.ajax({
            type:"post",
            url:"/insertcomment",
            data:{
                "bid":$('#bid').val(),
                "comment":$('#comment').val()
            },
            success:function(data){
            if($.trim(data)=="yes")
            {
                location.href="/auth/content?bid="+$('#bid').val();
            }
        }
        })
    })
    
})
</script>
</body>
</html>