<!DOCTYPE html>
<html xmln:th="http://www.thymeleaf.org"></html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div sec:authorize="!isAuthenticated()"><!--세션을 이렇게 model로 안넘겨도 그냥 바로 꺼내쓸수 있다 20210515 편리하다-->
        <a href="/auth/joinpage">회원가입</a>
        <a href="/auth/loginpage">로그인</a>
    </div>
    <div sec:authorize="isAuthenticated()"><!--else문을 모르겠다-->
        <a href="/mypage">마이페이지</a>
        <a href="/logout">로그아웃</a>
    </div>
    <a href="/auth/boardlist">게시판</a>
</body>
</html>