<!DOCTYPE html>
<html xmln:th="http://www.thymeleaf.org"></html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <title>Document</title>
</head>
<body>
    <a href="/auth/index">홈</a>
    <br>
    <h1>글을 작성해주세요</h1>
    
    <div th:text="'작성자'+'&nbsp'+${session.email}"></div>
            <div th:with="article = ${boardvo}">
            글번호 <div th:text="${article.getbid}"></div>
            제목 <input type="text" name="title" placeholder="30글자 이하로 입력해주세요" id="title" th:value="${article.gettitle}"><div id="errortitle"></div>
            <br>
            글내용<div id="errorcontent"></div>
            <br> <textarea cols="100" rows="50" name="content" id="content" placeholder="최대 입력글자는 1000자입니다"th:text="${article.getcontent}" ></textarea>
            <input type="hidden" id="bid" th:value="${article.getbid}">
    </div>
    <br>
    <input type="button" id="button" value="완료">

    <script>
   $(function(){
       var check="true",check2="true";
       ////우와 이런게 있었네 조금만 빨리 찾아볼껄 20210517
    $('#content').on("propertychange change keyup paste input",function(){
        $('#errorcontent').html('입력한 글자 수'+$('#content').val().length,check);
        check1=checkcondition($('#content'),0,1000);
    })
    $('#title').on("propertychange change keyup paste input",function(){
        check2=checkcondition($('#title'),0,30);
    })
    $('#button').click(function(){
        if(check=="true"&&check2=="true")
        {
           doajax();
        }
        else{
            alert('빈칸이 존재하거나 글자수가 초과합니다');
        }
    })
   })
   function doajax()
   {
    $.ajax({
            type:"post",
            url:"updatecontentprocess",
            data:{
              "title":$('#title').val(),
              "content":$('#content').val(),
              "bid":$('#bid').val(),
            },
            success:function(data){
                if($.trim(data)=="yes")
                {
                location.href="/auth/boardlist";
                }
                else
                {alert('문제가 생겼습니다');}       
            }       
           })
   }
   function checkcondition(data,min,max)
   {        
    if(data.val().length==min)
        {
            $('#errorcontent').html("입력된 글자가 없습니다");
            data.css('background-color','pink');
            return "false";
        }
        else if(data.val().length>max)
        {
            
            data.css('background-color','pink');
            if(max==1000)
            {
                alert('글내용 글자수는 최대 1000자입니다');
            }
            else
            {
                alert('글제목 글자수는 최대 30자입니다');
            }
            return "false";
        }
        else
        {
            data.css('background-color','white');
            return "true";
        }
   }
    </script>
</body>
</html>