<!DOCTYPE html>
<html lang="en">
<html xmln:th="http://www.thymeleaf.org"></html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호변경</title>
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
  <a href="/auth/index">홈</a>
  <br>
  <a href="/mypage">마이페이지</a>
  <br>
    현재비밀번호입력
    <br>
    <input type="password" id="pwd" name="pwd" placeholder="현재 비밀번호를 입력해 주세요">
    <br>
    새로사용할 비밀번호 입력
    <br>
    <input type="password" id="npwd" name="npwd" placeholder="새로 비밀번호를 입력해 주세요">
    <br>
    새로사용할 비밀번호 입력이 동일한지 한번더 입력해주세요
    <br>
    <input type="password" id="npwd2" name="npwd2" placeholder="새로 비밀번호를 입력해 주세요">
    <br>
    <div id="errormeseesge"></div>
    <br>
    <input type="hidden" id="email" name="email" th:value="${#authentication.getName()}"><!--이렇게 꺼낼수 있다 시큐리티 session 같은느낌-->
    <br>
  
    <input type="button" id="button" value="완료">
   <script>
 $(function()
  {
    $('#npwd2').keyup(function(){
        if($('#npwd').val()!=$('#npwd2').val())
        {
           backgroundcolor($('#npwd2'),'pink');
           backgroundcolor($('#npwd'),'pink');
           $('#errormeseesge').html('새비밀번호가 일치하지 않습니다');
        }
        else
        {
           backgroundcolor($('#npwd2'),'blue');
           backgroundcolor($('#npwd'),'blue');
           $('#errormeseesge').html('새비밀번호가 일치합니다');
        }
    })
    $('#button').click(function(){
       if($('#npwd').val().length>=4&&$('#npwd2').val().length>=4)
       {
         $.ajax({
            type:"post",
            url:"/updatepwdpageprocess",
            data:{
               "email":$('#email').val(),
              "pwd":$('#pwd').val(),
              "npwd":$('#npwd').val(),
              "npwd2":$('#npwd2').val()
            },
            success:function(data){

              if($.trim(data)=="yes")
              {
                location.href="/mypage";
              }
              else if($.trim(data)=="npwd!=npwd2")
              {
               alert('새 비밀번호가 일치하지 않습니다');
              }
              else if($.trim(data)=="wrongpwd")
              {
               alert('현재 비밀번호가 틀립니다');
              }
              else
              {
                alert('문제가 생겨 다시 시도 해 주세요');
              }   
            }

        })
       }
       else
       {
          alert('빈칸이 있거나 비밀번호가 짧습니다');
       }
    })
  })
  function backgroundcolor(id,color)
  {
    id.css('background-color',color);//이렇게 변수로 함수화 쌉가능
  }
   </script>
</body>
</html>