<!DOCTYPE html>
<html xmln:th="http://www.thymeleaf.org"></html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <title>Document</title>
</head>
<body>
    <a href="index">홈</a>
    <br>
    <h1>글을 작성해주세요</h1>
    <div id="errorcontent2"></div>
    <div th:text="'작성자'+'&nbsp'+${session.email}"></div>
     제목 <input type="text" name="title" placeholder="30글자 이하로 입력해주세요" id="title"><div id="errortitle"></div>
     <br>
    글내용<div id="errorcontent"></div>
    <br> <textarea cols="100" rows="50" name="content" id="content" placeholder="최대 입력글자는 1000자입니다"></textarea>
    <br>
    <input type="button" id="button" value="완료">

    <script>
   $(function(){
       
    var check="false",check2="false";///왜 불이 안되는건지 모르겠다

    $('#content').on({
        keyup:function(){
        $('#errorcontent').html('입력한 글자 수'+$('#content').val().length,check);
        check2=checkcondition($('#content'),0,1000,check);    
        
    },
    click:function()
    {
        check2=checkcondition($('#content'),0,1000,check);
    }
    })
    $('#title').on({
        keyup:function(){
            check=checkcondition($('#title'),0,30,check);
        },
        click:function()
        {
            check=checkcondition($('#title'),0,30,check);
        }
    })
    $('#button').click(function(){
        if(check2=="true"&&check=="true")
        {
           $.ajax({
            type:"post",
            url:"writearticleprocess",
            data:{
              "title":$('#title').val(),
              "content":$('#content').val(),
            },
            success:function(data){
                if($.trim(data)=="yes")
                {
                location.href="/auth/boardlist";
                }
                else
                {alert('문제가 생겼습니다');}       
            }       
           })
        }
        else{
            
            alert('빈칸이 있거나 글자수가 초과합니다');
        }
    })
   })
   function checkcondition(data,min,max)
   {        

    if(data.val().length==min)
        {
            $('#errorcontent').html("입력된 글자가 없습니다");
            data.css('background-color','pink');
            return "false";
        }
        else if(data.val().length>max)
        {
            
            data.css('background-color','pink');
            if(max==1000)
            {
                alert('글내용 글자수는 최대 1000자입니다');
            }
            else
            {
                alert('글제목 글자수는 최대 30자입니다');
            }
            return "false";
        }
        else
        {
            data.css('background-color','white');
            return "true";
        }
   }
    </script>
</body>
</html>